# R junk
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Quarto junk
/.quarto/
/_site/
site_libs/
phenotype-library_cache/
_publish.yml

# OHDSI junk
errorReportSql.txt
resources/artifacts/
export/
*.sqlite

# My junk
__*
__private/